.my-list {
  margin-top: .3rem;
}

.singer {
  padding: .1rem;
  
}
.singer .am-list-body{
	overflow: hidden;
	border-radius: .2rem;
}
.singer .am-list-item .am-list-line .am-list-content {
  font-size: .2rem;
}

.singer_list .am-list-item img {
  width: 1rem;
  height: 1rem;
}

.singer_list .am-list-item {
  padding: .2rem 0;
}
.singer_list .am-list-thumb {
  padding: 0 .3rem;
}
.singer-info .am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box{
	font-size: .35rem;
	padding:0 .3rem;
}
.singer-info img{
	width: 100vw;
}